## Week 12 Challenge

### Importing necessary libraries

In [1]:
import sqlite3

**Q1** - *Create a database called temp_db. Open a cursor to this newly created database.*

In [2]:
#Creating a function to create a datbase

def create_db(db_name):
    """
    Creating a database in the current directory
    """
    #Connecting to a database - If it does not exist a new one is created
    con = sqlite3.connect(db_name)
    
    #Creating a cursor object to execute commands
    cursorObj = con.cursor()
    
#Running the function and creating a database
create_db('temp_db.db')

print('Created the database successfully!')

Created the database successfully!

**Q2** - *In the database temp_db created in Q.No.1, create a table called emp with the attributes empno, ename, salary and deptno*

In [3]:
#Creating a function to create a table in temp_db database

def create_table(db_name):
    """
    Creating a table 'emp' with the particular fields mentioned above 
    inside temp_db database
    """
    #Connecting with the database and creating a cursor object
    con = sqlite3.connect(db_name)
    cursorObj = con.cursor()
    
    #Executing the CREATE TABLE command on the cursor object
    cursorObj.execute('CREATE TABLE IF NOT EXISTS emp(empno INTEGER, ename TEXT, salary REAL, deptno INTEGER)')
    
    #Commiting the changes and closing the connection
    con.commit()
    con.close()
    
#Running the function to create the table emp
create_table('temp_db.db')

print('Created the table with the right attributes !!')

Created the table with the right attributes !!

**Q3** - *In the emp table created in Q.No. 2, insert any five records.*

In [4]:
#Creating a function to insert values into the emp table

def insert_emp(empno, ename, sal, deptno):
    """
    Inserting values into the emp table in temp_db database using placeholders
    """
    #Connecting with the database and creating a cursor object
    con = sqlite3.connect('temp_db.db')
    cursorObj = con.cursor()
    
    #Executing the command to insert values in table
    cursorObj.execute('INSERT INTO emp values(?, ?, ?, ?)', (empno, ename, sal, deptno))
    
    #Commiting the changes and closing the connection
    con.commit()
    con.close()
    
#Creating a list of tuples of records to insert into table 'emp'
records = [(1, 'Karim', 40000, 10), (2, 'Shardul', 10000, 10), 
           (3, 'Sagarika', 22000, 20), (4, 'Smarina', 35000, 30), (5, 'Manish', 24000, 30)]

#Iterating over the records 
for ele in records:
    insert_emp(ele[0], ele[1], ele[2], ele[3])
    
print('All records have been successfully inserted..')

All records have been successfully inserted..

**Q4** - *From the emp table, display all the records.*

In [5]:
#Creating a function to display all records in the table

def display_records(db_name):
    """
    Fetching all the records in the table 'emp'
    """
    #Connecting with the database and creating a cursor object
    con = sqlite3.connect(db_name)
    cursorObj = con.cursor()
    
    #Executing the command to display all the records
    cursorObj.execute('SELECT * \
                       FROM emp')
    
    #Fetching all the records in a list 
    result = cursorObj.fetchall()
    
    #Closing the connection
    con.close()
    
    #Returning the records
    return result

#Displaying records
print('{0:7}{1:8}{2:8}{3:50}'.format('empno', 'ename', 'salary', 'deptno'))
print('--'* 15)
display_records('temp_db.db')

empno  ename   salary  deptno
------------------------------

[(1, 'Karim', 40000.0, 10),
 (2, 'Shardul', 10000.0, 10),
 (3, 'Sagarika', 22000.0, 20),
 (4, 'Smarina', 35000.0, 30),
 (5, 'Manish', 24000.0, 30)]

**Q5** - *From the emp table, display the records of only those employees whose salary is greater than 15000 and who belong to deptno 10*

In [6]:
#Creating a function to display the records of those employees
#whose salary is greater than 15000 and they belong to deptno 10

def view_q5(db_name, s, d):
    """
    Displaying records of those employees who sal > 15000 and deptno = 10 
    """
    #Connecting with the database and creating a cursor object
    con = sqlite3.connect(db_name)
    cursorObj = con.cursor()
    
    #Executing the command to display all the records based on the above condition
    cursorObj.execute('SELECT * \
                       FROM emp \
                       WHERE salary > ? AND deptno = ?', (s, d))
    
    #Fetching all the records in a list 
    result = cursorObj.fetchall()
    
    #Closing the connection
    con.close()
    
    #Returning the records
    return result

#Displaying records
print('{0:7}{1:8}{2:8}{3:50}'.format('empno', 'ename', 'salary', 'deptno'))
print('--'* 15)

#Obtaining the records
output = view_q5('temp_db.db', 15000, 10)

#Iterating over the result
for record in output:
    print(record)

empno  ename   salary  deptno
------------------------------
(1, 'Karim', 40000.0, 10)

**Q6** - *From the emp table, display the records of only those employees whose salary lies between 20000 and 25000 and who do not belong to the deptno 10*

In [7]:
#Creating a function to display the records of those employees
#whose salary is between 20000 and 25000 and also they don't belong to deptno 10
#Assuming sal >= 20K and sal <= 25K

def view_q6(db_name, low_lim, up_lim, d):
    """
    Displaying records of those employees who sal between (15000, 20000) and deptno != 10 
    """
    #Connecting with the database and creating a cursor object
    con = sqlite3.connect(db_name)
    cursorObj = con.cursor()
    
    #Executing the command to display all the records based on the above condition
    cursorObj.execute('SELECT * \
                       FROM emp \
                       WHERE salary >= ? \
                       AND salary <= ? \
                       AND deptno != ?', (low_lim, up_lim, d))
    
    #Fetching all the records in a list 
    result = cursorObj.fetchall()
    
    #Closing the connection
    con.close()
    
    #Returning the records
    return result

#Displaying records
print('{0:7}{1:8}{2:8}{3:50}'.format('empno', 'ename', 'salary', 'deptno'))
print('--'* 15)

#Obtaining the records
output = view_q6('temp_db.db', 20000, 25000, 10)

#Iterating over the result
for record in output:
    print(record)

empno  ename   salary  deptno
------------------------------
(3, 'Sagarika', 22000.0, 20)
(5, 'Manish', 24000.0, 30)

**Q7** - *From the emp table, display the records of only those employees whose name begins with M.*

In [8]:
#Creating a function to display the records of those employees whose name begins with 'M'

def view_q7(db_name):
    """
    Displaying records of those employees whose name starts with 'M' 
    """
    #Connecting with the database and creating a cursor object
    con = sqlite3.connect(db_name)
    cursorObj = con.cursor()
    
    #Executing the command to display all the records based on the above condition
    cursorObj.execute('SELECT * \
                       FROM emp \
                       WHERE ename LIKE "M%"')
    
    #Fetching all the records in a list 
    result = cursorObj.fetchall()
    
    #Closing the connection
    con.close()
    
    #Returning the records
    return result

#Displaying records
print('{0:7}{1:8}{2:8}{3:50}'.format('empno', 'ename', 'salary', 'deptno'))
print('--'* 15)

#Obtaining the records
output = view_q7('temp_db.db')

#Iterating over the result
for record in output:
    print(record)

empno  ename   salary  deptno
------------------------------
(5, 'Manish', 24000.0, 30)

**Q8** - *In the emp table, delete the records of those employees who belong to deptno 30*

In [9]:
#Creating a function to delete the records of those employees whose belong to deptno '30'

def delete(db_name, dep):
    """
    Deleting records of those employees whose deptno = 30 from table 'emp'
    """
    #Connecting with the database and creating a cursor object
    con = sqlite3.connect(db_name)
    cursorObj = con.cursor()
    
    #Executing the command to delete records according to above condition
    cursorObj.execute('DELETE FROM emp WHERE deptno = ?', (dep,))
    
    #Commiting the changes and closing the connection
    con.commit()
    con.close()
    

#Displaying records before and after deletion
print('\033[1m' + 'Before deleting...\n' + '\033[0m')
print('{0:7}{1:8}{2:8}{3:50}'.format('empno', 'ename', 'salary', 'deptno'))
print('--'* 15)
              
#Obtaining the earlier records
output = display_records('temp_db.db')

#Iterating over earlier records
for record in output:
    print(record)
    
print('\033[1m' + '\nAfter deleting...\n' + '\033[0m')    
print('{0:7}{1:8}{2:8}{3:50}'.format('empno', 'ename', 'salary', 'deptno'))
print('--'* 15)

#Running the delete function
delete('temp_db.db', 30)

#Obtaining the updated records
output2 = display_records('temp_db.db')

#Iterating over the current records
for record in output2:
    print(record)

Before deleting...

empno  ename   salary  deptno
------------------------------
(1, 'Karim', 40000.0, 10)
(2, 'Shardul', 10000.0, 10)
(3, 'Sagarika', 22000.0, 20)
(4, 'Smarina', 35000.0, 30)
(5, 'Manish', 24000.0, 30)

After deleting...

empno  ename   salary  deptno
------------------------------
(1, 'Karim', 40000.0, 10)
(2, 'Shardul', 10000.0, 10)
(3, 'Sagarika', 22000.0, 20)

**Q9** - *In the emp table, update the salary of an employee by 10 % by accepting the empno from the user.*

In [10]:
#Creating a function to update the records of an employee by 10% by user input of empno

def update(db_name, updated_sal, employee_no):
    """
    Updating records of an employee based on empno parameter 
    """
    #Connecting with the database and creating a cursor object
    con = sqlite3.connect(db_name)
    cursorObj = con.cursor()
    
    #Executing the command to delete records according to above condition
    cursorObj.execute('UPDATE emp SET salary = ? WHERE empno = ?', (updated_sal, employee_no))
    
    #Commiting the changes and closing the connection
    con.commit()
    con.close()
    

#Displaying records before and after deletion
print('\033[1m' + 'Before updation...\n' + '\033[0m')
print('{0:7}{1:8}{2:8}{3:50}'.format('empno', 'ename', 'salary', 'deptno'))
print('--'* 15)
              
#Obtaining the earlier records
output = display_records('temp_db.db')

#Iterating over earlier records
for record in output:
    print(record)
     
try: 
    #Taking the user input on empno for salary updation
    emp_num = int(input('\nEnter an employee no from the current records to update salary: '))
    
except:
    print('Check employee num entered..')

print('\033[1m' + '\nAfter updation...\n' + '\033[0m')  
print('{0:7}{1:8}{2:8}{3:50}'.format('empno', 'ename', 'salary', 'deptno'))
print('--'* 15)

#Obtaining the respective salary of the employee for updation
for record in output:
    
    #When the empno equals the respective employee num in the database records
    if record[0] == emp_num:
        salary = record[2]

#Running the update function -- Updating the value by 10% and rounding it to 2 decimal places
update('temp_db.db', round(salary * 1.1, 2), emp_num)

#Obtaining the updated records
output2 = display_records('temp_db.db')

#Iterating over the current records
for record in output2:
    print(record)

Before updation...

empno  ename   salary  deptno
------------------------------
(1, 'Karim', 40000.0, 10)
(2, 'Shardul', 10000.0, 10)
(3, 'Sagarika', 22000.0, 20)

Enter an employee no from the current records to update salary: 3

After updation...

empno  ename   salary  deptno
------------------------------
(1, 'Karim', 40000.0, 10)
(2, 'Shardul', 10000.0, 10)
(3, 'Sagarika', 24200.0, 20)

**Q10** - *Delete the emp table.*

In [11]:
#Creating a function to delete the entire emp table

def delete_table(db_name):
    """
    Deleting the 'emp' table completely
    """
    #Connecting with the database and creating a cursor object
    con = sqlite3.connect(db_name)
    cursorObj = con.cursor()
    
    #Executing the command to delete records according to above condition
    cursorObj.execute('DROP TABLE emp')
    
    #Commiting the changes and closing the connection
    con.commit()
    con.close()

#Running the above function to delete 'emp' from the db
delete_table('temp_db.db')
    
print('The table "emp" has been successfully deleted !!')

The table "emp" has been successfully deleted !!

In [12]:
display_records('temp_db.db')

OperationalError: no such table: emp